# --- Java / Maven ---
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# --- Node / front-end ---
node_modules/
dist/
build/
.vite/
pnpm-lock.yaml.bak

# --- Env e segredos ---
.env
.env.*
!.env.example

# --- IDEs ---
.idea/
*.iml
.vscode/
.DS_Store

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# --- Logs locais ---
*.log
logs/
